/**{
    font-family: sans-serif !important;
}*/
.dropdown-content li form a {
    font-size: 16px;
    color: #26a69a;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}


.ui-spinner-input{
    text-align: left;
}

.flash-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.flash {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

/*
@font-face {
    font-family:"Roboto";
    src:local(Roboto Thin),url("#{resource['materialize/fonts/roboto/Roboto-Thin.eot']}");
    src:url("#{resource['materialize/fonts/roboto/Roboto-Thin.eot?#iefix']}") format("embedded-opentype"),
    url("#{resource['materialize/fonts/roboto/Roboto-Thin.woff2']}") format("woff2"),
    url("#{resource['materialize/fonts/roboto/Roboto-Thin.woff']}") format("woff"),
    url("#{resource['materialize/fonts/roboto/Roboto-Thin.ttf']}") format("truetype");
    font-weight:200
}

@font-face {
    font-family:"Roboto";
    src:local(Roboto Light),url("#{resource['materialize/fonts/roboto/Roboto-Light.eot']}");
    src:url("#{resource['materialize/fonts/roboto/Roboto-Light.eot?#iefix']}") format("embedded-opentype"),
        url("#{resource['materialize/fonts/roboto/Roboto-Light.woff2']}") format("woff2"),
        url("#{resource['materialize/fonts/roboto/Roboto-Light.woff']}") format("woff"),
        url("#{resource['materialize/fonts/roboto/Roboto-Light.ttf']}") format("truetype");
    font-weight:300
}

@font-face {
    font-family:"Roboto";
    src:local(Roboto Regular),url("#{resource['materialize/fonts/roboto/Roboto-Regular.eot']}");
    src:url("#{resource['materialize/fonts/roboto/Roboto-Regular.eot?#iefix']}") format("embedded-opentype"),
        url("#{resource['materialize/fonts/roboto/Roboto-Regular.woff2']}") format("woff2"),
        url("#{resource['materialize/fonts/roboto/Roboto-Regular.woff']}") format("woff"),
        url("#{resource['materialize/fonts/roboto/Roboto-Regular.ttf']}") format("truetype");
    font-weight:400
}

@font-face {
    font-family:"Roboto";
    src:url("#{resource['materialize/fonts/roboto/Roboto-Medium.eot']}");
    src:url("#{resource['materialize/fonts/roboto/Roboto-Medium.eot?#iefix']}") format("embedded-opentype"),
       url("#{resource['materialize/fonts/roboto/Roboto-Medium.woff2']}") format("woff2"),
    url("#{resource['materialize/fonts/roboto/Roboto-Medium.woff']}") format("woff"),
    url("#{resource['materialize/fonts/roboto/Roboto-Medium.ttf']}") format("truetype");
    font-weight:500
}

@font-face {
    font-family:"Roboto";
    src:url("../fonts/roboto/Roboto-Bold.eot");
    src:url("../fonts/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"),url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"),url("../fonts/roboto/Roboto-Bold.woff") format("woff"),url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
    font-weight:700
}*/